#map-canvas {
  height: 100%;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Set z-index to 0 so it'll be on the lowest layer */
}

#middle_menu {
  position: absolute;
  z-index: 1;
  top: 65px;
  left: 65px;
}

form {
  position: relative;
  width: 300px;
  margin: 5px 20px;
}

#search, #location_search {
  font-family: 'Dosis', "Arial", "sans-serif";
  position: relative;
  height: 40px;
  width: 375px;
  padding: 8px 16px;
  background: #333333;
  border: 0px;
  font-size: 20px;
  color: #CCCCCC;
  margin: 0px;
}

#results, #slang_of_the_day, #trending {
  font-size: 18px;
  position: relative;
  background: #333333;
  padding: 5px 20px;
  width: 335px;
  margin: 5px 20px;
  color: #EEEEEE;
  font-family: 'Dosis', "Arial", "sans-serif";
}

#results {
  height: 250px;
  overflow-y: scroll;
}

h3 {
  font-weight: normal;
}

h1, h2, h3 {
  font-family: 'orbitron', 'sans-serif';
  font-weight: 200;
}

#logo {
  position: absolute;
  top: 60px;
  right: 100px;
  font-size: 125px;
  z-index: 1;
  padding: 0px;
  margin: 0px;
}

#links {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

#links img {
  padding: 5px;
  width: 120px;
}

h4 {
  font-family: 'orbitron', 'sans-serif';
  font-size: 29px;
  position: absolute;
  top: 192px;
  right: 105px;
  z-index: 1;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
  color: #333333;
}

a:visited {
  color: #222222;
}
