#map-canvas {
  height: 100%;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Set z-index to 0 so it'll be on the lowest layer */
}

#middle_menu {
  position: absolute;
  z-index: 1;
  top: 65px;
  left: 65px;
}

form {
  position: relative;
  width: 300px;
  margin: 5px 20px;
}

#search, #location_search {
  font-family: 'Dosis', "Arial", "sans-serif";
  position: relative;
  height: 40px;
  width: 375px;
  padding: 8px 16px;
  background: #333333;
  border: 0px;
  font-size: 20px;
  color: #CCCCCC;
  margin: 0px;
}

#results, #slang_of_the_day, #trending {
  font-size: 18px;
  position: relative;
  background: #333333;
  padding: 5px 20px;
  width: 335px;
  margin: 5px 20px;
  color: #EEEEEE;
  font-family: 'Dosis', "Arial", "sans-serif";
}

#results {
  height: 250px;
  overflow-y: scroll;
}

h3 {
  font-weight: normal;
  font-weight: 200;
  font-family: 'Dosis', 'sans-serif';
  font-size: 23px;
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top: 0px;
}

h1, h2 {
  font-family: 'orbitron', 'sans-serif';
  font-weight: 200;
}

#logo {
  position: absolute;
  top: 60px;
  right: 100px;
  font-size: 130px;
  z-index: 1;
  padding: 0px;
  margin: 0px;
  font-weight: 500;
  opacity: .6;
}

#links {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

#add_button {
  width: 140px;
  height: 140px;
}

#about_button {
  width: 120px;
  height: 120px;
  padding: 10px;
  opacity: .6;
}

h4 {
  font-family: 'orbitron', 'sans-serif';
  font-size: 29px;
  position: absolute;
  top: 192px;
  right: 105px;
  z-index: 1;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
  color: #333333;
}

a:visited {
  color: #000000;
}

#toggleButton {
  font-family: 'Dosis', "Arial", "sans-serif";
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px;
  padding: 5px 5px 5px 5px;
  radius: 100%;
  z-index: 2;
}

#trending a {
  color: #EEEEEE;
  text-decoration: none;
}

#trending a:visited {
  color: #EEEEEE;
}

#form {
  position: absolute;
  left: 250px;
  top: 100px;
  font-size: 17px;
}

#add_word_form {
  font-family: 'orbitron', 'sans-serif';
  font-size: 20px;
  width: 700px;
}

#add_word_form #uncoded_location, #add_word, #definition_box {
  font-family: 'Dosis', "Arial", "sans-serif";
  position: relative;
  height: 40px;
  width: 375px;
  padding: 10px 16px;
  background: #333333;
  border: 0px;
  font-size: 25px;
  color: #CCCCCC;
  margin: 10px 0px 15px 10px;
}

#twitter, .google-button, .fb-share-button{
  display: inline;
}

.fb-share-button{
  bottom: 4px;
}

#add_word_form textarea {
  font-family: 'Dosis', "Arial", "sans-serif";
  position: relative;
  padding: 10px 16px;
  background: #333333;
  border: 0px;
  font-size: 25px;
  margin: 10px;
  color: #CCCCCC;
  width: 375px;
}

#add {
  font-family: 'orbitron', "Arial", "sans-serif";
  position: relative;
  width: 410px;
  padding: 10px 16px;
  background: #222222;
  border: 0px;
  font-size: 18px;
  color: #CCCCCC;
  margin: 5px 10px;
}

#info {
  font-family: 'Dosis', "Arial", "sans-serif";
  padding: 30px;
  background: #333333;
  border: 0px;
  font-size: 25px;
  margin: 0px 0px 0px 150px;
  color: #CCCCCC;
  width: 500px;
}

#info #home {
  color: #888888;
  padding: 0px;
}

#welcome {
  margin: 100px 0px 10px 150px;
  font-size: 46px;
}

#trending a {
  padding: 0px;
  margin: 0px 25px;
}

#slang_of_the_day a {
  text-decoration: none;
  color: #EEEEEE;
}

#slang_of_the_day a:visited {
  color: #EEEEEE;
}

#results a {
  color: #EEEEEE;
}

#results a:visited {
  color: #EEEEEE;
}
