<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,600|Abel|Economica:400,700|Open+Sans+Condensed:300|Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>
    <script src="//use.typekit.net/plh7qzk.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link href="/static/styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/slap_icon.ico">
    <meta charset="utf-8">
    <title> THE SLAP</title>
  </head>
  <body>
    <h1> Welcome to the SLAP <h1>
    <h3> Home Of Slang On A Map </h3>
    <a href="/"><h1 id="logo">$LAP</h1></a>
    This website was created by a team of 3 at Google CSSI, Mountian View 2015.
    <br>
    Michelle Ching
    <br>
    Nma Mbeledogu
    <br>
    Randall Li
    <br>
    <br>
    This was all made possible thanks to :
    <br>
    Urban Dictionary
    <br>
    Google Maps
  </body>
</html>
