<!DOCTYPE html>
<html>
  <head>
    <link href="static/styles.css" rel="stylesheet">
    <title>The Slang Map</title>
  </head>
  <body id="home-body" onload="initialize()">
  <div id="middle-menu">
      <h1>SLAP</h1>
        <form method="POST" action="">
          <input type="search" name="search_name" value=""><button>search</button><br>
        </form>
      word : {{search_url}}
      <br><br>
      <div id="search_results">
        <p><h2>{{word_searched}}</h3></p>
        {% if defs|length == 0 %}
          <p>No search results.</p>
        {% endif %}
        {% for def in defs %}
          <p>{{def.definition}}</p>
        {% endfor %}
      </div>
    </div>
    <div id="map-canvas"></div>
    <script src="static/main.js"></script>
  </body>
</html>
