<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,600|Abel|Economica:400,700|Open+Sans+Condensed:300|Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>
    <script src="//use.typekit.net/plh7qzk.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link href="static/styles.css" rel="stylesheet">
    <title>The Slang Map</title>
  </head>
  <body id="home-body" onload="initialize()">
        <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <a href="/"><h1 id="logo">$LAP</h1></a>
    <h4>THE SLANG MAP</h4>
    <div id="middle_menu">
      <div id="search-bar">
        <form method="GET" action="/?search={{word_searched}}">
          <input id="search" type="search" name="searched_word" size="40%" value='{{word_searched}}' placeholder="Search for a word">
          <!-- <button id="toggle-button">hide-show</button> -->
        </form>
        <form method="GET" action="/?location_searched={{location_searched}}">
          <input id="location_search" type="search" name="location" size="40%" value='{{location_searched}}' placeholder="Search for a location">
        </form>
      </div>

      <div id="slang_of_the_day">
        <h2> Slang of the Day: </h2>
        <h3>{{todays_word}}</h3>
        {{todays_def}}
        </p>
      </div>
      <div id="trending">
        <h2>Trending Searches:</h2>
        {% for item in trending %}
          <a href="/?searched_word={{item.word}}">{{item.word}}</a>
        {% endfor %}
      <br><br>
      </div>

      {% if search_def|length == 0 and defs|length == 0  %}
         <style media="screen">
           #results {visibility: hidden;}
           #toggleButton {visibility: hidden;}
         </style>
       {% else %}
         <div id="results">
           <h2>Urban Dictionary says "{{word_searched}}" means:</h2>
           {% if search_def|length == 0 %}
             <p>No search results.</p>
           {% else %}
             {{search_def}}
           {% endif %}
           <br>
           <p><h2>Others say "{{word_searched}}" means:</h2></p>
           {% if defs|length == 0 %}
             <p>No search results.</p>
           {% else %}
             {% for def in defs %}
               <p>{{def.definition}}</p>
             {% endfor %}
           {% endif %}

           <div id = "twitter">
             <a href="https://twitter.com/share" class="twitter-share-button" data-url="localhost:8080" data-text="SLAP : {{word_searched}}" data-hashtags="slangmap">Tweet</a>
             <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
           </div> &nbsp;&nbsp;&nbsp;
           <div class="google-button">
             <div class="g-plus" data-action="share" data-annotation="bubble"></div> &nbsp;&nbsp;&nbsp;
           </div>
            <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div> <br><br>
          </div>
      {% endif %}
      <button id="toggleButton">show/hide definitions</button>
    </div>
    <div id="map-canvas"></div>
    <script>
    window.markers = [];
      function addMarker(itsLat, itsLng, itsWord) {
        marker = {"lat": itsLat,
                  "lng": itsLng,
                  "title": itsWord};
        window.markers.push(marker);
      }
    window.location_searched = {"loc_lat": {{loc_lat}}, "loc_lng": {{loc_lng}}, "loc_zoom": {{loc_zoom}}};
    </script>
    {% for marker in markers %}
      <script>
        addMarker({{marker.latitude}}, {{marker.longitude}}, "{{marker.word}}")
      </script>
    {% endfor %}
    <footer id="links">
     <a href="/add"><img src="/static/images/add_button2.png" id="add_button" title="Slap a word on the map"></a>
     <a href="/about"><img src="/static/images/about_button2.png" id="about_button" title="About SLAP"></a>
   </footer>
   <script src="https://apis.google.com/js/platform.js" async defer></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <script src="static/main.js"></script>
  </body>
</html>
