<!DOCTYPE html>
<html>
  <head>
    <link href="static/styles.css" rel="stylesheet">
    <title>The Slang Map</title>
  </head>
  <body id="home-body">
    <h1>SLAP</h1>
    <input type="search" name="name" value=""><button>search</button><br>
    word : {{search_url}}
    <br><br>
    <div id="map-canvas"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABHO66skhWRgmCmYBKGQ-XSqZpaP8AkLI" type="text/javascript"></script>
    <script src="static/main.js"></script>
  </body>
</html>
