<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,600|Abel|Economica:400,700|Open+Sans+Condensed:300|Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>
    <script src="//use.typekit.net/plh7qzk.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link href="static/styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/slap_icon.ico">
    <script type="text/javascript">
function codeAddress() {
  var address = document.getElementById("location_box").value;
  geocoder.geocode( { "address": address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
    } else {
      alert("Geocode was not successful for the following reason: " + status);
    }
  });
}
    </script>
    <link href="static/styles.css" rel="stylesheet">
    <title>Add to the Map</title>
    <a href="/"><h1 id="logo">$LAP</h1></a>
  </head>
  <body>
    <div id="form">
      <h1>Slap a word on the map</h1>
      <form id="add_word_form" method="post">
        Location: <br> <input id="uncoded_location" name="location_box" type="text" required>
        <button onclick="codeAddress()">convert</button>
        <br>
        Word/Phrase: <br> <input id="add_word" name="word_box" type="text" required>
        <br>
        Definition: <br>
        <textarea name="definition_box" rows="5" cols="40"></textarea required>
        <input id="add" name="add" type="submit" value="add" onclick="codeAddress">
      </form>
    </div>
    <script src="static/main.js"></script>
  </body>
  <footer id="links">
   <a href="/add"><img src="/static/images/add_button2.png" id="add_button" title="Slap a word on the map"></a>
   <a href="/about"><img src="/static/images/about_button2.png" id="about_button" title="About SLAP"></a>
 </footer>
</html>
