<!DOCTYPE html>
<html>
  <head>
    <link href="static/styles.css" rel="stylesheet">
    <title>Add to the Map</title>
    <button> <a href = "/"> Home Page Logo </a> </button>
  </head>
  <body>
    <h1>Add to the Map</h1>
    <form method="post">
      Location: <input name="location_box" type="text" required>
      <button onclick="codeAddress()">convert</button>
      <br>
      Word/Phrase: <input name="word_box" type="text" required>
      <br>
      Definition: <br>
      <textarea name="definition_box" rows="8" cols="40"></textarea required>
      <br>
      <input name="add" type="submit" value="add">
    </form>
    <script src="static/main.js"></script>
  </body>
</html>
