<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,600|Abel|Economica:400,700|Open+Sans+Condensed:300|Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>
    <script src="//use.typekit.net/plh7qzk.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link href="static/styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/slap_icon.ico">
    <script type="text/javascript">
function codeAddress() {
  var address = document.getElementById("location_box").value;
  geocoder.geocode( { "address": address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
    } else {
      alert("Geocode was not successful for the following reason: " + status);
    }
  });
}
    </script>
    <link href="static/styles.css" rel="stylesheet">
    <title>Add to the Map</title>
    <a href="/"><h1 id="logo">$LAP</h1></a>
  </head>
  <body>
    <h1>Add to the Map</h1>
    <form method="post">
      Location: <input id="uncoded_location" name="location_box" type="text" required>
      <button onclick="codeAddress()">convert</button>
      <br>
      Word/Phrase: <input name="word_box" type="text" required>
      <br>
      Definition: <br>
      <textarea name="definition_box" rows="8" cols="40"></textarea required>
      <br>
      <input name="add" type="submit" value="add" onclick="codeAddress">
    </form>
    <script src="static/main.js"></script>
  </body>
</html>
